.row
{
    margin-bottom: 1rem;
}

#image-wrapper
{
    width: 100%;
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp1980778.jpg");
}

#homeText
{
    position: absolute;
    bottom: 0px;
    margin-left: 300px;
    margin-bottom: 100px;
    z-index: 2;
    background: rgba(128,128,128, 0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
}

    #homeText h3, p
    {
        color: white;
        opacity: 1;
    }

    #homeText a
    {
        color: lightblue;
        text-decoration: none;
        background-color: transparent;
    }

    #homeText button
    {
        background-color: #6d7fcc;
        color: white;
        opacity: 1;
    }

        #homeText button:hover
        {
            color: #6d7fcc;
            background-color: white;
            border: 1px solid #6d7fcc;
            transform: translateY(-3px);
            box-shadow: 3px 3px 10px black;
        }

        #homeText button:active
        {
            box-shadow: 3px 3px 10px black;
            transform: translateY(2px);
        }

#values-wrapper
{
    width: 100%;
    min-height: 700px;
    padding: 2rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/myriathon_background2.png');
}   

    .darken-pseudo:after 
    {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #image-values-wrapper
    {
        z-index: 2;
        background: rgba(128,128,128, 0.90);
        padding: 15px;
        border-radius: 8px;
        box-shadow: 10px 10px 5px black;
        opacity: 1;
    }

    #values-wrapper #values-header-block
    {
        margin: 1rem;
        margin-top: 2rem;
        color: white;
    }

    #values-wrapper #values-content-block-first
    {
        margin: 1rem;

    }

#impact-wrapper
{
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 0rem 2rem 2rem 2rem;
}

    #impact-wrapper #impact-header-block
    {
        margin: 1rem;
    }

    #impact-wrapper #impact-amount-block
    {
        margin: 1rem;
    }

    #impact-wrapper #impact-charities-block
    {
        margin: 1rem;
    }

        #impact-charities-block #charity-logo-block img
        {
            width: 160px;
            height: 90px;
            margin: 1rem;
        }