<head>
    <meta charset="UTF-8">
    <meta name="description" content="Myriathon is a group of gamers who run bi-annual gaming marathons, raising money for a variety of charity organizations.">
    <meta name="keywords" content="Charity, Gaming, Video Games, Games, Game Marathons, Myriathon, Marathon, Marathons, Raising Money, Fundraise, Fundraising">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <div *ngIf = "admin" class = "row">
            <nav id = "admin-navbar" class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Admin</span>
                <ul class = "nav">
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'admin', 'dashboard']">Admin Dash</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'addvideo']">Add Video/Season</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class = "row">
            <div align = "center" class="d-none d-md-block" id = "image-wrapper-large">
                <div *ngIf = "recentVideo" class="d-none d-md-block" id="homeText">
                    <h3>{{recentVideo.title}}</h3>
                    <p>{{recentVideo.description}}</p>
                    <a [routerLink] = "['/', 'video', recentVideo.title]">
                        <button class="btn">Watch Video</button>
                    </a>
                    
                </div>
            </div>
            <div align = "center" class = "d-block d-sm-block d-md-none" id = "image-wrapper-small">
                <div *ngIf = "recentVideo" class="d-block d-sm-block d-md-none" id="homeSmallText">
                    <h3>{{recentVideo.title}}</h3>
                    <p>{{recentVideo.description}}</p>
                    <a [routerLink] = "['/', 'video', recentVideo.title]">
                        <button class="btn">Watch Video</button>
                    </a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div id = "dropdownCol" class = "col">
                <div class="dropdown">
                    <button [attr.aria-expanded] = "dropdownOpen" (click) = "toggleDropdown()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose Season
                    </button>
                    <div [ngClass] = "{'show': dropdownOpen }" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngFor = "let season of seasons" (click) = "getCurrentSeason(season.name)" class="dropdown-item" >{{season.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf = "currentSeason" id = "seasonTitle" class = "text-center row">
            <div class = "col">
                <h3>{{currentSeason.name}}</h3>
            </div>
        </div>
        <div id = "videoCardsRow" class = "row">
            <div id = "activeSeasonBlock" *ngIf = "currentSeason">
                <div *ngFor = "let video of currentSeason.videos" class = "col-sm-12 col-md-6 col-lg-4 col-xl-3 cardBlock">
                    <div class="card" style="width: 100%;">
                        <img src="{{video.img}}" class="card-img-top" alt="Card image for the video">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{video.title}}</h5>
                            <p class="card-text">{{video.description}}</p>
                        </div>
                        <a [routerLink] = "['/', 'video', video.title]" class="cardBtn btn btn-block">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
