<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<!-- carousel -->
<div *ngFor = "let slide of slides; let i = index" class = "row justify-content-center">
    <p 
    *ngIf = "i === currentTitle"
    >
    {{title[i]}}
    </p>
</div>
<div class=" carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <img
        *ngIf = "i === currentSlide"
        [src]="slide.src"
        class="darken-psuedo slide"
        @carouselAnimation
        />
    </ng-container>
    
    <!-- controls -->
    <button class="control prev" (click) = "onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click) = "onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>
<hr my-4>
<div id = "carousel-text" *ngFor = "let slide of slides; let i = index" class = "justify-content-center row">
    <p
    *ngIf = "i === currentText"
    >{{txt[i]}}
    </p>
</div>