<head>
    <meta charset="UTF-8">
    <meta name="description" content="Myriathon is a group of gamers who run bi-annual gaming marathons, raising money for a variety of charity organizations.">
    <meta name="keywords" content="Charity, Gaming, Video Games, Games, Game Marathons, Myriathon, Marathon, Marathons, Raising Money, Fundraise, Fundraising">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col">
                <h3 class = "text-center">Users</h3>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let user of users">
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.admin}}</td>
                        <td>
                            <a [routerLink] = "['/', 'user', user.username]">
                                <button type = "submit" class = "btn btn-primary">User Page</button>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr my-4>
        <div class = "row">
            <div class = "col">
                <h3 class = "text-center">Seasons</h3>
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let season of seasons">
                        <td>{{season.name}}</td>
                        <td>{{season.number}}</td>
                        <td>
                            <a [routerLink] = "['/', 'season', 'edit', season.name]">
                                <button type = "submit" class = "btn btn-primary">Edit Season</button>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
