#jumboPackage
{
    background-color: #e9ecef;
    height: 100px;
    width: 100%;
}

#leadText
{
    padding-top: 1rem;
}

#iframeLarge
{
    padding: 0rem 2rem 0rem 2rem;
    
}

#buttonRow
{
    margin-bottom: 5rem;
}

.col
{
    padding: 0rem;
}

.videoBackground 
{
    background-color: black;
}

#buttonRow
{
    margin-top: 1rem;
}

#admin-navbar
{
    width: 100%;
}

#btnPrev
{
    background-color: #2e8bdb;
    color: white;
}

    #btnPrev:hover
    {
        background-color: white;
        color: #2e8bdb;
        border: 1px solid #2e8bdb;
    }

#btnNext
{
    background-color: #2e8bdb;
    color: white;
}

    #btnNext:hover
    {
        background-color: white;
        color: #2e8bdb;
        border: 1px solid #2e8bdb;
    }