<head>
    <meta charset="UTF-8">
    <meta name="description" content="Myriathon is a group of gamers who run bi-annual gaming marathons, raising money for a variety of charity organizations.">
    <meta name="keywords" content="Charity, Gaming, Video Games, Games, Game Marathons, Myriathon, Marathon, Marathons, Raising Money, Fundraise, Fundraising">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
</head>
<body>
    <div class = "container-fluid">
        <div *ngIf = "admin" class = "row">
            <nav id = "admin-navbar" class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Admin</span>
                <ul class = "nav">
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'admin', 'dashboard']">Admin Dash</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'addvideo']">Add Video/Season</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class = "row">
            <div class="jumbotron jumbotron-fluid">
                <div class="text-center container">
                    <h1 class="display-4">Gaming for Good</h1>
                    <p class="lead">We're a group of friends who play games and give to charity</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div id = "mission-text">
                <p>
                    Myriathon was founded by Matt “abandon” Rossi in 2013 after being inspired by a number of online marathons 
                    and meeting with members of Team World Vision to support their efforts for clean water in third-world countries. 
                    Since then, the Myriathon team has expanded in both scope and size, continuing to work with new charities, 
                    welcoming new members to the community, and exploring new forms of media to foster an environment where everyone 
                    can share in fun activities during their big events and their off-season streams. 
                </p>
            </div>
        </div>
        <div class = "text-center justify-content-center row">
            <h3>Team</h3>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <!--Abandon-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "ABBackground" src="assets/img/AB_background.gif" alt="Abandon's Background of a Dog Running" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/AB_icon.jpg" alt="Abandon's Icon depicting a picture of his face" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Abandon<small>Leader, Memer</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/SnarkyTrad" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/abandonthemyriad" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Erin-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "JPBackground" src="assets/img/JP_background.jpg" alt="Background image of a person floating in the air" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/JP_icon.jpg" alt="Icon depicting a cartoon person's face" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>TheJediPikachu<small>Leader, Dreamer</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/TheJediPikachu" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/thejedipikachu" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Mason-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "MSBackground" src="assets/img/MS_background.jpg" alt="Background image of a circle with EpicIshiku's name in it" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/MS_icon.jpg" alt="Icon of Epicshiku holding a duel disk from Yu-Gi-Oh" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Epicshiku<small>Leader, Tech</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/EpicIshiku" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/epicishiku" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Russell-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "RSBackground" src="assets/img/RS_background.png" alt="Background from the game Mario of some shi-guy's standing on stilts" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/RS_icon.png" alt="Icon of Yoshi from the Mario game series" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Russty1123<small>Scheduler</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/Russty1123" target = "_blank"> <i class="fa fa-twitter"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Daj-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "DJBackground" src="assets/img/DJ_background.png" alt="Background of a manga with two girls yelling" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/DJ_icon.gif" alt="Icon gif of a anime girl dancing" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Dajman27<small>Graphics</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/JonVanRyckeghem" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/dajman27" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Spoon-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id="SPTBackground" src="assets/img/SPT_background.png" alt="Backgruond from Kingdom Hearts series showing all characters on a building posing" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/SPT_icon.jpg" alt="Icon showing a picture of Yuri from the game Tales of Vesperia" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>SPTspoon<small>Doctor</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/sptspoon" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/sptspoon" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Whale-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "ATBackground" src="assets/img/Auto_background.gif" alt="Background GIF of Megaman X looking at something" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/logo_auto.jpeg" alt="Icon image of Automaton's brand logo, with robotic head and name under it" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Automaton<small>Coder</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/Automaton89" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/automaton1989" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Deviant-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "CDBackground" src="assets/img/CD_background.jpg" alt="Backgruond image from game Last Gaurdian showing a the guardian on a ledge" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img id = "CDIcon" src="assets/img/CD_icon.gif" alt="Icon of two pokemon, Unbreon and Sylveon nuzzling" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Casual_Deviant<small>Member</small></h2>
                            </div>
                        </div>
                    </div>
                    <!--Waldens-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "WDBackground" src="assets/img/WD_background.jpg" alt="Simple Background with a shape in the foreground" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/WD_icon.jpg" alt="Icon showing a cat" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Waldens<small>Member</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/Waldens002" target = "_blank"> <i class="fa fa-twitter"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Mikal-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "MKBackground" src="assets/img/MK_background.jpeg" alt="Background showing a bunch of Kirby's on a stack" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/MK_icon.jpg" alt="Icon of a game character using a drumset" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Mikal<small>Member</small></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
    
    