<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class = "container-fluid">
        <div *ngIf = "admin" class = "row">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Admin</span>
                <ul class = "nav">
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'admin', 'dashboard']">Admin Dash</a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" [routerLink] = "['/', 'addvideo']">Add Video/Season</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class = "row">
            <div class="jumbotron jumbotron-fluid">
                <div class="text-center container">
                    <h1 class="display-4">Gaming for Good</h1>
                    <p class="lead">We're a group of friends who play games and give to charity</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div id = "mission-text">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
        <div class = "text-center justify-content-center row">
            <h3>Team</h3>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <!--Abandon-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "ABBackground" src="assets/img/AB_background.gif" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/AB_icon.jpg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Abandon<small>Leader, Memer</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/SnarkyTrad" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/abandonthemyriad" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Erin-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "JPBackground" src="assets/img/JP_background.jpg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/JP_icon.jpg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>TheJediPikachu<small>Leader, Dreamer</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/TheJediPikachu" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/thejedipikachu" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Mason-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "MSBackground" src="assets/img/MS_background.jpg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/MS_icon.jpg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Epicshiku<small>Leader, Tech</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/EpicIshiku" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/epicishiku" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Russell-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "RSBackground" src="assets/img/RS_background.png" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/RS_icon.png" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Russty1123<small>Scheduler</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/Russty1123" target = "_blank"> <i class="fa fa-twitter"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Daj-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "DJBackground" src="assets/img/DJ_background.png" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/DJ_icon.gif" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Dajman27<small>Graphics</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/JonVanRyckeghem" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/dajman27" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Spoon-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id="SPTBackground" src="assets/img/SPT_background.png" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/SPT_icon.jpg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>SPTspoon<small>Doctor</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/sptspoon" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/sptspoon" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Whale-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "ATBackground" src="assets/img/Auto_background.gif" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/logo_auto.jpeg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Automaton<small>Coder</small></h2>
                            <div class="icon-block">
                                <a href="https://twitter.com/Automaton89" target = "_blank"> <i class="fa fa-twitter"></i></a>
                                <a href="https://www.twitch.tv/automaton1989" target = "_blank"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Deviant-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "CDBackground" src="assets/img/CD_background.jpg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img id = "CDIcon" src="assets/img/CD_icon.gif" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Casual_Deviant<small>Member</small></h2>
                            </div>
                        </div>
                    </div>
                    <!--Waldens-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img src="https://pm1.narvii.com/6439/62d5fb9a52c3e1acbde341b7c7961d81cec8f328_hq.jpg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/logo_auto.jpeg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Waldens<small>Member</small></h2>
                            <div class="icon-block">
                                <a href="#"> <i class="fa fa-twitter"></i></a>
                                <a href="#"> <i class="fa fa-twitch"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--Mikal-->
                    <div class="card-wrapper col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card profile-card-3">
                            <div class="background-block">
                                <img id = "MKBackground" src="assets/img/MK_background.jpeg" alt="profile-sample1" class="background"/>
                            </div>
                            <div class="profile-thumb-block">
                                <img src="assets/img/MK_icon.jpg" alt="profile-image" class="profile"/>
                            </div>
                            <div class="card-content">
                            <h2>Mikal<small>Member</small></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
    
    