#image-wrapper
{
    width: 100%;
    min-height: 650px;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp1980778.jpg");
}

#marathonText
{
    position: absolute;
    bottom: 0px;
    margin-left: 300px;
    margin-bottom: 100px;
    z-index: 2;
    background: rgba(128,128,128, 0.7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
}

    #marathonText h3, p
    {
        color: white;
        opacity: 1;
    }

    #marathonText a
    {
        color: lightblue;
        text-decoration: none;
        background-color: transparent;
    }

    #marathonText button
    {
        background-color: #6d7fcc;
        color: white;
        opacity: 1;
    }

        #marathonText button:hover
        {
            color: #6d7fcc;
            background-color: white;
            border: 1px solid #6d7fcc;
            transform: translateY(-3px);
            box-shadow: 3px 3px 10px black;
        }

        #marathonText button:active
        {
            box-shadow: 3px 3px 10px black;
            transform: translateY(2px);
        }

#carousel-container-wrapper
{
    min-height: 780px;
    margin-bottom: 8rem;
}

#carousel-row
{
    margin: 0px;
    padding: 15px;
}

.container-carousel {
    display: block;
    height: 500px;
    width: 100%;
    margin-top: 1rem;
}

#admin-navbar
{
    width: 100%;
}